.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.modal_opened {
  visibility: visible;
}
.modal__content {
  position: relative;
  max-width: 496px;
  width: 100%;
  background: #fff;
  border: solid 1px #0000004d;
  box-sizing: border-box;
  padding: 28px 28px 36px;
  border-radius: 20px;
}
.modal__form {
  max-height: 436px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url(../../assets/close-btn.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 16px;
}
.modal__label {
  display: flex;
  flex-wrap: wrap;
}
.modal__input {
  border: none;
  padding: 0;
  padding-bottom: 4px;
  width: 100%;
  border-bottom: solid 1px black;
  display: block;
  margin-top: 8px;
}
.modal__radio-buttons {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal__legend {
  margin-bottom: 12px;
}
.modal__radio-input {
  cursor: pointer;
  margin-right: 5px;
  accent-color: black;
}
.modal__submit {
  margin: 0;
  margin-top: auto;
  padding: 0;
  width: 124px;
  height: 36px;
  border-radius: 4px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.1s ease;
}
.modal__submit:hover {
  background-color: #00000099;
}
