.profile {
  display: flex;
  margin: 47px 0 80px;
}
.profile__sidebar {
  max-width: 345px;
  width: 100%;
}
.profile__clothes-section {
  width: 100%;
}

@media screen and (max-width: 375px) {
  .profile {
    flex-direction: column;
    margin: 20px 0 40px;
  }
}
