.cards {
  margin-bottom: 85px;
}

.cards__text {
  font-weight: bold;
  margin: 0 0 34px;
}
.cards__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cards__randomize-btn {
  display: none;
}
@media screen and (max-width: 550px) {
  .cards {
    margin-bottom: 83px;
  }
  .cards__text {
    margin: 0 0 20px;
  }
  .cards__list {
    gap: 15px;
    justify-content: center;
  }
  .cards__randomize-btn {
    cursor: pointer;
    display: block;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    height: 44px;
    width: 100%;
    padding: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
