.modal__content_type_preview {
  padding: 0;
  overflow: hidden;
}
.modal__image {
  width: 100%;
}
.modal__footer {
  margin: 20px 32px 32px;
  padding: 0;
}
.modal__caption {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 20px;
}
.modal__weather {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
