.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__text {
  margin: 85px 0 24px;
  padding: 0;
}
@media screen and (max-width: 375px) {
  .footer__text {
    margin: 83px 0 20px;
  }
}
